@import 'antd/dist/reset.css';
@import './variables.scss';
@import './colors.scss';
@import './mixin.scss';
@import './schedule.scss';
@import './scheduler.scss';
@import './shared.scss';

/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  @include dsw-colors(light);
  @include dsw-elevations(light);

  &.dark-theme {
    @include dsw-colors(dark);
    @include dsw-elevations(dark);
  }
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
