@mixin ellipsis($lines: 1) {
  @if $lines > 1 {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
  } @else {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

@mixin typography-p3 {
  font-weight: $dsw-text-font-weight-normal;
  font-size: $dsw-text-font-size-200;
  line-height: 20px;
}

@mixin typography-p4 {
  font-weight: $dsw-text-font-weight-normal;
  font-size: $dsw-text-font-size-100;
  line-height: 16px;
}

.dsw-shared-typography {
  &-p3 {
    @include typography-p3;
  }
  &-p4 {
    @include typography-p4;
  }
}
