// SCSS Variables
$brand-color: #056ffa;
$hover-color: #378cfb;

// Light theme
$light-bg-1: #ffffff;
$light-bg-2: #f5f5f5;
$light-bg-4: #e8e8e8;
$light-text-primary: #000000;
$light-text-third: #666666;
$light-text-disable: #999999;
$light-text-info: #056ffa;
$light-line: #d9d9d9;

// Dark theme
$dark-bg-1: #1f1f1f;
$dark-bg-2: #2a2a2a;
$dark-bg-4: #3a3a3a;
$dark-text-primary: #ffffff;
$dark-text-third: #999999;
$dark-text-disable: #666666;
$dark-text-info: #378cfb;
$dark-line: #444444;
